<!DOCTYPE html>
<html>

<head>
    {% block head %}
    <meta charset="utf-8" />
    <title>Programmer LinkedIn</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js"></script>
    {% endblock %}
</head>
<!-- Navigacijski dio -->

<body>
    <div class="topnav">
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('search') }}">Find programmers</a>
        <a href="{{ url_for('signUp') }}">Sign up</a>
    </div>
    <!-- Kraj navigacije -->

    <div clas="container">
        {% block content %}
        {% endblock %}
    </div>
    
    <!-- Footer strainice -->
    <div class="footer-about">
        <p class="desc"><b>Easiest way to find local programmers</b></p>
        <p class="info">You can find our contact info here</p>
    </div>
    <div class="footer-contact">
        <p class="contact"><b>Contact</b></p>
        <p class="mail">example@mail.com</p>
    </div>
    <div class="footer-service">
        <p class="service-title"><b>Services</b></p>
        <p class="services"><a href="{{ url_for('signUp') }}">Freelance work</a></p>
        <p class="services"><a href="{{ url_for('search') }}">Find freelance programmers</a></p>
    </div>
    <div class="footer-thanks">
        <p class="thanks"><b>Thank you for using our service!</b></p>
    </div>
</body>
</html>