<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Programmer LinkedIn</title>
        <link rel="stylesheet" href="../static/styleSignup.css">
        <script src="../static/script.js"></script>
      </head>
      <body>
        <!-- Navigacijski dio -->
        <div class="topnav">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('search') }}">Find programmers</a>
            <a class="active" href="signUp.html">Sign up</a>
        </div>
        <!-- Navigacijski dio kraj -->
        <div class="footer-about">
            <p class="desc"><b>Easiest way to find local programmers</b></p>
            <p class="info">You can find our contact info here</p>
        </div>
        <div class="footer-contact">
            <p class="contact"><b>Contact</b></p>
            <p class="mail">example@mail.com</p>
        </div>
        <div class="footer-service">
            <p class="service-title"><b>Services</b></p>
            <p class="services">Freelance work</p>
            <p class="services"><a href = "{{ url_for('search') }}">Find freelance programmers</a></p>
        </div>
        <div class="footer-thanks">
            <p class="thanks"><b>Thank you for using our service!</b></p>
        </div>
        <!-- Sign up form -->
        <div class="content">
            <p class="welcome"><b>Thank you for signing up!</b></p>
            <p class="content-start">You have been added to the list, if a client chooses you for their project <br>they will contact you through the email you provided.</p>
        </div>
    </body>
</html>