{% extends 'base.html' %}

{% block content %}

    <div class="content">
        <p class="welcome"><b>Welcome!</b></p>
        <p class="content-start">This is a Website designed to help you find independent programmers for your
            projects!<br><br>Or if you are a programmer yourself, find freelance work to do!</p>
    </div>
    <div class="header-image">
        <img class="image"
            src="https://media.istockphoto.com/photos/laptop-computer-desktop-pc-human-hand-office-soft-focus-picture-picture-id811268074?k=20&m=811268074&s=612x612&w=0&h=ZRbtDWXGPi_pZghzHzF4Bzd3DKY8yuzBlWBEwZkHBwQ=">
    </div>

    <div class="info-cards">
        <div class="cards">
            <h1 class="cards-welcome">We are offerring new ways to find local programmers</h1>
            <p class="cards-desc">Search for local programmers in the navigation bar</br>
                Or sign up yourself and find work in no time!</p>
        </div>
        <div class="cards">
            <h1 class="cards-welcome">Search for programmers now!</h1>
            <p class="cards-desc">Head to the Find Programmers tab to find someone now.</br>
                Just search your needed language and message them right away.
            </p>
        </div>
        <div class="cards">
            <h1 class="cards-welcome">Sign up for freelance work.</h1>
            <p class="cards-desc">Head to the sign up page and fill in the info</br>
                and wait for a customer to message you.
            </p>
        </div>
    </div>
</body>
</html>
{% endblock %}