{% extends 'home.html' }

{% block content %}
        <p class="welcome"><b>Welcome!</b></p>
        <p class="content-start">This is a Website designed to help you find independent programmers for your
            projects!<br><br>Or if you are a programmer yourself, find freelance work to do!</p>
    <div class="info-cards">
        <div class="cards">
            <h1 class="cards-welcome">We are offerring new ways to find local programmers</h1>
            <p class="cards-desc">Search for local programmers in the navigation bar</br>
                Or sign up yourself and find work in no time!</p>
        </div>
        <div class="cards">
            <h1 class="cards-welcome">Search for programmers now!</h1>
            <p class="cards-desc">Head to the Find Programmers tab to find someone now.</br>
                Just search your needed language and message them right away.
            </p>
        </div>
        <div class="cards">
            <h1 class="cards-welcome">Sign up for freelance work.</h1>
            <p class="cards-desc">Head to the sign up page and fill in the info</br>
                and wait for a customer to message you.
            </p>
        </div>
    </div>

    {% endblock %}
